Service References/Suspense/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAreas">
        <s:complexType />
      </s:element>
      <s:element name="GetAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvinces">
        <s:complexType />
      </s:element>
      <s:element name="GetProvincesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvincesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreasByProvince">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prov_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreasByProvinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreasByProvinceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAgents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prov_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAgentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAgentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfflinePayments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status_area" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="from_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="status_from_date" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="to_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="status_to_date" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="status_amount" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="account_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status_account_number" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="counter_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status_counter_number" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="stub_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status_stub_number" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOfflinePaymentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfflinePaymentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlinePayments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlinePaymentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOnlinePaymentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfflinePaymentsTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfflinePaymentsTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfflinePaymentsTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAreasSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreas" />
  </wsdl:message>
  <wsdl:message name="GetAreasSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreasResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvincesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="GetProvincesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreasByProvinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreasByProvince" />
  </wsdl:message>
  <wsdl:message name="GetAreasByProvinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreasByProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAgentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAgents" />
  </wsdl:message>
  <wsdl:message name="GetAllAgentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOfflinePaymentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOfflinePayments" />
  </wsdl:message>
  <wsdl:message name="GetOfflinePaymentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfflinePaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnlinePaymentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOnlinePayments" />
  </wsdl:message>
  <wsdl:message name="GetOnlinePaymentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOnlinePaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOfflinePaymentsTestSoapIn">
    <wsdl:part name="parameters" element="tns:GetOfflinePaymentsTest" />
  </wsdl:message>
  <wsdl:message name="GetOfflinePaymentsTestSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfflinePaymentsTestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetAreas">
      <wsdl:input message="tns:GetAreasSoapIn" />
      <wsdl:output message="tns:GetAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input message="tns:GetProvincesSoapIn" />
      <wsdl:output message="tns:GetProvincesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreasByProvince">
      <wsdl:input message="tns:GetAreasByProvinceSoapIn" />
      <wsdl:output message="tns:GetAreasByProvinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAgents">
      <wsdl:input message="tns:GetAllAgentsSoapIn" />
      <wsdl:output message="tns:GetAllAgentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePayments">
      <wsdl:input message="tns:GetOfflinePaymentsSoapIn" />
      <wsdl:output message="tns:GetOfflinePaymentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePayments">
      <wsdl:input message="tns:GetOnlinePaymentsSoapIn" />
      <wsdl:output message="tns:GetOnlinePaymentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePaymentsTest">
      <wsdl:input message="tns:GetOfflinePaymentsTestSoapIn" />
      <wsdl:output message="tns:GetOfflinePaymentsTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreas">
      <soap:operation soapAction="http://tempuri.org/GetAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreasByProvince">
      <soap:operation soapAction="http://tempuri.org/GetAreasByProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgents">
      <soap:operation soapAction="http://tempuri.org/GetAllAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePayments">
      <soap:operation soapAction="http://tempuri.org/GetOfflinePayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePayments">
      <soap:operation soapAction="http://tempuri.org/GetOnlinePayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePaymentsTest">
      <soap:operation soapAction="http://tempuri.org/GetOfflinePaymentsTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreas">
      <soap12:operation soapAction="http://tempuri.org/GetAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="http://tempuri.org/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreasByProvince">
      <soap12:operation soapAction="http://tempuri.org/GetAreasByProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgents">
      <soap12:operation soapAction="http://tempuri.org/GetAllAgents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePayments">
      <soap12:operation soapAction="http://tempuri.org/GetOfflinePayments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePayments">
      <soap12:operation soapAction="http://tempuri.org/GetOnlinePayments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflinePaymentsTest">
      <soap12:operation soapAction="http://tempuri.org/GetOfflinePaymentsTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://webservice.ceb/suspense/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://webservice.ceb/suspense/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>